<div style='font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;color:#333;max-width:600px;'>
    <p style='float:right;'>{{date}}</p>
    <h1 style='margin-bottom:10px;'>{{_('Summary')}}</h1>
    <ul style='font-size:15px;line-height:17px;list-style:none;margin-left:0;padding-left:0;'>
        <li>{{_('Total changesets')}}: <strong>{{stats.total}}</strong></li>
        <li>{{_('Total address changes')}}: <strong>{{stats.addresses}}</strong></li>
        <li>{{_('Total building footprint changes')}}: <strong>{{stats.buildings}}</strong></li>
    </ul>
    {% if stats.limit_exceed %}
        <p style='font-size:13px;font-style:italic;'>{{limit_exceed}}</p>
    {% else %}
    {% for changeset in changesets %}
        <h2 style='border-bottom:1px solid #ddd;padding-top:15px;padding-bottom:8px;'>{{_('Changeset')}}<a href='http://openstreetmap.org/browse/changeset/{{changeset.id}}' style='text-decoration:none;color:#3879D9;'> #{{changeset.id}}</a></h2>
        <p style='font-size:14px;line-height:17px;margin-bottom:20px;'>
            <a href='http://openstreetmap.org/user/{{changeset.details.user}}' style='text-decoration:none;color:#3879D9;font-weiht:bold;'>{{changeset.details.user}}</a> {{changeset.comment}}
        </p>
        <p style='font-size:14px;line-height:17px;margin-bottom:0;'>
            {{changeset.bldg_count}} {{_('Changed buildings')}} :  {% for way in changeset.wids %}<a href="http://www.openstreetmap.org/node/{{way}}">{{way}}</a>{% endfor %}
        </p>
        <p style='font-size:14px;line-height:17px;margin-top:5px;margin-bottom:20px;'>
            {{changeset.addr_count}} {{_('Changed addresses')}}: {% for node in changeset.addr_chg_nids%}<a href="http://www.openstreetmap.org/node/{{node}}">{{node}}</a>{% endfor %}
        </p>
        <a href='{{changeset.map_link}}'><img src='{{changeset.map_img}}' style='border:1px solid #ddd;' /></a>
    {% endfor%}
    {% endif %}
</div>